.grid-conteiner{display:grid;
    grid-template-columns:(3,1fr) ;
    grid-template-rows: auto auto auto auto;
grid-template-areas: 'cabeza cabeza '
                     'main main'
                      'aside aside'
                      'footer footer ' ;}
header{grid-area:cabeza;}
main{grid-area:main ;}
aside{grid-area:aside;}
footer{grid-area:footer;}